html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
}

body{
    background:black;
    box-sizing:border-box;
    margin:0;
    padding:0;
    width:100%;
    
    
}

header{
    background-color:firebrick;
    margin:0 auto;
    padding:0;
    width:100%;
    height:380px;
   
}

header section{
    margin:0 auto;
    padding:0;
    width:80%;
    height:20px;
    
}

#icon{
    margin-right:0px;
    box-shadow: 5px 5px 5px black;
    display:inline-block;
    width:calc(100%/4);
    float:left;
}

.social_media{
    margin-bottom:0;
    box-shadow: 5px 5px 5px black;
    display:inline-block;
    width:cal(100%/4);
    float:right;
    
}

header img{
    margin:3px;
    padding:0;
}

header nav{
    margin-top:200px;
    width:80%;
    margin-left:10%; 
    padding:0;
    font-size:2rem;
}
    
}

header nav ul{
    margin:0 auto;
    padding:0;
    
}

header nav ul li{
    margin-top:110px;
    margin-left:0px;
    text-transform: capitalize;
    display:inline-block;
    width:calc(65%/6);
    height:20px;
    list-style: none;
    background-color:navy;
    text-align: center;
    padding:5px;
    
}

.tabs{
    color:#ffffff;
    text-decoration:none;
    
}

main{
    background-color: #f1f1f1;
    box-sizing: border-box;
    opacity:;
    margin:0 auto;
    padding:0;
    width:80%;
    margin-left:10%;
    
        
}


#hero{
    background-color:bisque;
    margin:0;
    padding:0;    
    width:100%;
    height:500px;
    
}

#row_two{
    margin:0 auto;
    font-size:1.5rem;
}

#row_two_image{
    margin-left:10px;
    padding:0;
    display:inline-block;
    width:45%;
}

#row_two_text{
    margin-right:10px;
    padding:0;
    display:inline-block;
    float:right;
    width:45%;
    height:350px;
    font-size:2.5rem;
    text-align:left;
}

#row_three{
    margin:0 auto;
    padding:0;
    display:block;
    font-size:1.5rem;
    width:100%;
    height:360px;
}
#row_three_image{
    margin-left:10px;
    padding:0;
    display:inline-block;
    float:left;
    width:45%;
}

#row_three_text{
    margin-right:10px;
    margin-top:-45px;
    padding:0;
    display:inline-block;
    float:right;
    width:45%;
    font-size:2.5rem;
}


footer{
    background-color: firebrick;
    text-align: center;
    font-size:2.5rem;
    margin:0;
    padding:0;
    width:100%;
    height:100px;
    opacity:.5;
}

footer p{
    margin:0;
    padding-top:10px;
}