
html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
}

body{
    background-color:black;
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-align:center;
    
}

header{
    background-color:firebrick;
    background: linear-gradient(black, firebrick);
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    width:100%;
    height:auto;
   
    
}

header > div{
    margin:5px auto;
    padding:0;
    box-sizing: border-box;
    width:90%;
    
}

#icon{
    box-sizing: border-box;
    margin:0;
    padding:0;
    width:calc(261px/2);
    height:100%;
    float:left;
    box-shadow: 5px 5px 5px black;
}

header div section{
    margin:0;
    float:right;
}

header section img{
    box-sizing: border-box;
    margin-right:5px;
    padding:0;
    float:left;
    box-shadow: 5px 5px 5px black;
}

header nav{
    margin:20px 0 10px 0;
    padding:0;
    width: 100%;
    text-align:center;
    box-sizing: border-box;
    display:inline-block;
    
}

header nav ul{
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    list-style: none;
    overflow: hidden;
}

header nav ul li{
    background-color:#6D2222;
    margin:0;
    padding:0;
    width:calc(100%/6);
    height:23px;
    box-sizing: border-box;
    float:left;
    font-size:1.2rem;
    text-transform:capitalize;
    text-align:center;
    overflow: hidden;
    box-shadow: 4px 4px 4px black;
    border: 2px solid black;    
}

header nav ul li a{ 
    display:block;
    padding:3px 0 3px 6px;
    color:white;
    text-decoration: none;
    font-family: sans-serif;
    
}
 
header nav ul li a:hover{
    background-color:navy;
    color:white;
}

.active{
    background-color:black;
}

main{
    background-color:firebrick;
    margin:0 auto;
    padding:0;
    width:90%;
    height:auto;
    box-sizing:border-box;    
}

main section{
    background-color:firebrick;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom: 10px;
    padding:0;
    width:100%;
    height:350px;
    overflow:hidden;
}

#home_main_section img{
    background-color:white;
    margin:0;
    padding:0;
    width:calc(100%/1.1);
    height:calc(322px*1.5);
}


main section:nth-of-type(2){
    background-color:white;
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    width:100%;
    height:auto;
    overflow: auto;
    text-align: center;
}
#top_left{
    margin:0;
    padding:10px;
    display:inline-block;
    width:calc(480px/1.75);
    height:auto;
    float:left;
    overflow:hidden;
}
#top_right{
    background-color:white;
    font-size:2rem;
    margin:0;
    padding:10px;
    display:inline-block;
    text-align: left;
    width:calc(100%/2);
    float:left;
    
}
main section:nth-of-type(3){
    background-color:white;
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    width:100%;
    overflow: hidden;
    text-align: center;
}
#bottom_left{
    margin:0;
    padding:10px;
    display:inline-block;
    width:calc(503px/1.75);
    height:330px;
    float:left;
    overflow: hidden;
}
#bottom_right{
    background-color:white;
    font-size:2rem;
    margin:0;
    padding:10px;
    display:inline-block;
    width:calc(100%/2);
    float:left;
    text-align: left;
}

/*sponsors*/
#sponsors_images_section{
    background-color:white;
    display:block;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
#sponsors_div_one{
    background-color:white;
    margin:5px auto;
    padding:0;
    display:block;
    width:60%;
    height:325px;
    
}

#sponsors_navy{
    display:inline-block;
    width:calc(100%/3);
    height:auto;
    float:left;
    opacity:.5;
    
}

#sponsors_table_mountain{
    display:inline-block;
    width:calc(100%/3);
    height:auto;
    float:left;
    opacity:.5;
}

#sponsors_united{
    display: inline-block;
    width:calc(95%/3);
    height:auto;
    padding-top:15px;
    opacity:.5;
}

#sponsors_navy:hover{
    opacity:1;
}

#sponsors_table_mountain:hover{
    opacity:1;
}
#sponsors_united:hover{
    opacity: 1;
}

#sponsors_div_two{
    background-color:white;
    margin:5px auto;
    padding:0;
    display:block;
    width:60%;
    height:160px;
    overflow:hidden;
}

#sponsors_pelco{
    display:inline-block;
    width:calc(95%/3);
    height:auto;
    float:left;
    margin:0;
    opacity:.5;
}

#sponsors_first{
    display:inline-block;
    width:calc(95%/3);
    height:auto;
    float:left;
    margin:0;
    padding:0;
    opacity:.5;
}

#sponsors_eye{
    display: inline-block;
    width:calc(95%/3);
    height:auto;
    margin:0;
    padding:0;
    opacity:.5;
}

#sponsors_pelco:hover{
    opacity:1;
}

#sponsors_first:hover{
    opacity:1;
}
#sponsors_eye:hover{
    opacity: 1;
}

#sponsors_footer{
    margin-top:10px;
}

/*end sponsors*/

/*parade route starts*/

#direction{
    background-color:grey;
    border:3px solid black;
    margin:0 auto;
    padding-left:20px;
    padding-top:5px;
    font-size:1.5rem;
    text-align: left;
    overflow: auto;
    width:100%;
}

#direction p{
    font-size: 1.7rem;
}
#direction p:nth-of-type(1){
    font-size:2.2rem;
    text-decoration: underline;
}
#direction p:nth-of-type(2){
    font-size:2.2rem;
    text-decoration: underline;
}
#direction ul{
    list-style: decimal;
    line-height: 19px;
}

/*parad route ends*/

/*press releases starts*/

#press_releases{
    display:block;
    background-color:grey;
    border:3px solid black;
    margin:0;
    padding:0;
    width:100%;
    height:350px;
    overflow:auto;
}
#press_releases_image{
    width:calc(475px/1.78);
    height:auto;
}
#press_releases nav{
    margin:0;
    padding:0;
    width:100%;
    font-size:1.8rem;
    text-align: left;
    line-height: 30px;
    overflow: hidden;
}
#press_releases nav ul{
    background-color:grey;
    margin:0;
    padding:0;    
}    
#press_releases h2{
    margin:0;
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    font-size: 2.5rem;
}
/*press releases ends*/
/*about us section one*/


#about_us_section_one{
    background-color:grey;
    border: 3px solid black;
    font-size:1.8rem;
    text-align:left;
    margin:10px auto;
    padding:10px;
    overflow: auto;
    width:60%;
    
}

#about_us_subheading{
    font-size:3rem;
}

*#veterans_day_history{
    font-size:3rem
}

*#about_us_section_two{
    background-color: firebrick;
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    width:60%;
    height:150px;
}

#about_us_section_two img{
    margin:0;
    padding-top:5px;
    max-width:100%;
    float:left;
}#about_us_section_two img:hover{
    background-color:cadetblue;
    opacity:.5;
}


*#about_us_section_two nav{
    margin:0;
    padding:0;
    display:inline-block;
    width:calc(100%/2);
    font-size: 1.5rem;
    text-align:left;
    height:auto;
    float:right;
}
*#about_us_section_two nav ul{
    list-style:none;
    background-color:inherit;
    margin:0 auto;
    padding:0;
    width:auto;
}
*#about_us_section_two nav ul li{
    background-color:grey;
    margin:2px;
    padding:0;
    overflow: hidden;
    border-radius: 5px;
    
}
#about_us_footer{
    margin-top:10px;
}

/*end about us section one*/
/*grand marshal begins*/

#grand_marshal{
    display:block;
    background-color:black;
    color:white;
    font-size:3rem;
    margin:0;
    padding-bottom:5px;
    width:100%;
}
*#marshal_pic{
    width:calc(475px/1.2);
    height:calc(322px*1.4);
}

#grand_marshal_section_two{
    background-color:grey;
    border:3px solid black;
    font-size:1.6rem;
    text-align:left;
    padding:10px;
    overflow: auto;
}
#grand_marshal_section_two p:nth-of-type(1){
    text-align: center;
    font-size:2rem;
}

#grand_marshal_footer{
    margin-top:1px;
}
/*grand marshal ends*/

footer{
    background:linear-gradient(firebrick, black);
    font-size:2rem;
    margin-top:10px;
    padding:0;
    width:100%;
    height: 100px;
    text-align: center;
}
footer p{
    margin:0;
    padding:0;
}
#footer{
    margin-top:-15px;
}